<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timestamp Microservice</title>
</head>
<body>
<div class="container">
    <h1 class="header">API Basejump: URL Shortener Microservice</h1>
    <blockquote>User Stories:
        <ol>
            <li> I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
            </li>
            <li>If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</li>
            <li> When I visit that shortened URL, it will redirect me to my original link.</li>
        </ol>
    </blockquote>

    <h2>Example usage:</h2>
    <code>https://backend-url-shortener-ms.herokuapp.com/new/https://www.google.com</code><br>

    <h2>Example output:</h2>
    <code>{ "original_url":"https://www.google.com", "short_url":"https://backend-url-shortener-ms.herokuapp.com/8170"}</code>

    <h2>Usage:</h2>
    <code>{ "https://backend-url-shortener-ms.herokuapp.com/8170"}</code>

</div>
</body>
</html>